doctype html

html

  head
  
    meta(http-equiv='Content-Type' content='text/html' charset='utf-8')
    title= title

    script(src='https://preview.babylonjs.com/babylon.js')
    script(src='https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js')
    script(src='https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js')
    script(src='https://code.jquery.com/pep/0.4.1/pep.js')
    script(src='index.js')
    script(src='camera-rotation.js')
    link(rel="stylesheet", href="style.css")
    
  body
    div
      canvas#renderCanvas
      canvas#layerCanvas
      
    
